@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url(./fonts/Bangers-Regular.ttf) format('truetype');
}

@keyframes bouncing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100);
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.playerContainer {
  display: flex; 
  justify-content: space-between;
  width: 600px;
  height: 200px;
}

.scoreContainer {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 50px;
}

#leftPlayer,
#rightPlayer {
  animation: bouncing 1s endless;
}

#leftPlayer,
#leftPlayerChoice,
#rightPlayer,
#rightPlayerChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text {  
  font-family: 'Bangers', cursive !important;
  font-size: 300%;
  color: #12240a;
  letter-spacing: 0.3rem;
}

#winner {  
  font-family: 'Bangers', cursive !important;
  font-size: 300%;
  text-align: center;
  letter-spacing: 0.3rem;
  color: #12240a;
  position: absolute; 
  margin: 0, auto;
  left: 0;
  right: 0;
  top: 150px;
}

.make-a-choice {
  color: #f1d969;
  font-family: 'Bangers', cursive !important;
  letter-spacing: 0.1em;
  font-size: 150%;
}

.slow-left,
.slow-right {
  color: crimson;
  font-family: 'Bangers', cursive !important;
  letter-spacing: 0.05em;
  font-size: 150%;
}

.score {  
  font-family: 'Bangers';
  font-size: 500%;
  letter-spacing: 0.3rem;
  color: #f1d969;
  margin-top: 0;
}

.startButton {
  font-family: 'Bangers';
  font-size: 2em;
  padding: 15px !important;
  border: 2px solid #cc9c49;
  background-color: #f1d969;
}

.background {
  background-color: #87a658;
  height: 100%;
  overflow: hidden;
}

.hotkeysSheet {
  font-family: sans-serif;
  position: absolute;
  bottom: 10px;
  color: #cdffcd;
  width: 400px;
}