@font-face {
  font-family: 'Bangers';
  src: local("Bangers"), url(./fonts/Bangers-Regular.ttf) format("truetype");
}

@-webkit-keyframes countdown {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes countdown {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes single-row-countdown {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

@keyframes single-row-countdown {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes bouncing-right {
  0%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(20px, -70px) rotate(9deg);
            transform: translate(20px, -70px) rotate(9deg);
  }
}

@keyframes bouncing-right {
  0%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(20px, -70px) rotate(9deg);
            transform: translate(20px, -70px) rotate(9deg);
  }
}

@-webkit-keyframes bouncing-left {
  0%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, -70px) rotate(-9deg);
            transform: translate(-20px, -70px) rotate(-9deg);
  }
}

@keyframes bouncing-left {
  0%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, -70px) rotate(-9deg);
            transform: translate(-20px, -70px) rotate(-9deg);
  }
}

@-webkit-keyframes slow-right {
  to {
    -webkit-transform: translate(0px, 20px) rotate(-8deg);
            transform: translate(0px, 20px) rotate(-8deg);
  }
}

@keyframes slow-right {
  to {
    -webkit-transform: translate(0px, 20px) rotate(-8deg);
            transform: translate(0px, 20px) rotate(-8deg);
  }
}

@-webkit-keyframes slow-left {
  to {
    -webkit-transform: translate(0px, 20px) rotate(8deg);
            transform: translate(0px, 20px) rotate(8deg);
  }
}

@keyframes slow-left {
  to {
    -webkit-transform: translate(0px, 20px) rotate(8deg);
            transform: translate(0px, 20px) rotate(8deg);
  }
}

@-webkit-keyframes fuse {
  0% {
    background-color: #f1d969;
    width: 100%;
  }
  30% {
    background-color: #f1d969;
  }
  100% {
    background-color: red;
    width: 0;
  }
}

@keyframes fuse {
  0% {
    background-color: #f1d969;
    width: 100%;
  }
  30% {
    background-color: #f1d969;
  }
  100% {
    background-color: red;
    width: 0;
  }
}

body {
  margin: 0;
}

div {
  font-family: "Bangers", cursive;
  text-align: center;
}

.secondary-text {
  color: #cdffcd;
  font-family: monospace;
}

.background {
  background-color: #87a658;
  height: 100vh;
  width: 100vw;
}

.main-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  padding-top: 2vh;
  position: absolute;
}

#countdown {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#countdown *,
#winner {
  -webkit-animation: countdown .3s;
          animation: countdown .3s;
  color: #12240a;
  font-size: 7vh;
  margin: 0;
  padding: 0;
}

#winner {
  margin-top: 30px;
}

.player-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: calc(55vh - 120px);
  width: 67vw;
}

.left-player,
.right-player {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 200px;
}

.make-a-choice-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  margin-top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.make-a-choice {
  color: #f1d969;
  font-size: 150%;
  letter-spacing: .1em;
}

.fuse {
  -webkit-animation: fuse 2.25s ease-out;
          animation: fuse 2.25s ease-out;
  height: 5px;
  margin-top: -1vh;
}

.slow {
  color: crimson;
  font-size: 150%;
  letter-spacing: .05em;
}

.slow-right {
  -webkit-animation: slow-right .35s .5s forwards;
          animation: slow-right .35s .5s forwards;
}

.slow-left {
  -webkit-animation: slow-left .35s .5s forwards;
          animation: slow-left .35s .5s forwards;
}

.bouncing-right {
  -webkit-animation: bouncing-right .75s .5s infinite;
          animation: bouncing-right .75s .5s infinite;
}

.bouncing-left {
  -webkit-animation: bouncing-left .75s .5s infinite;
          animation: bouncing-left .75s .5s infinite;
}

.score {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5vh;
  color: #f1d969;
  font-size: 500%;
  position: absolute;
  width: 20vw;
}

#start-button {
  background-color: #f1d969;
  border-radius: 5px;
  border: 2px solid #cc9c49;
  cursor: pointer;
  font: 200% "Bangers", cursive;
  padding: 15px;
  z-index: 1;
}

.hotkeys-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.left-hotkeys,
.right-hotkeys {
  margin: 50px 0;
}

.left-hotkeys div,
.right-hotkeys div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
  width: 70px;
}

.icon {
  height: 25px;
  width: 25px;
}

.key {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  border: 2px inset #f1d969;
  color: #f1d969;
  font-family: sans-serif;
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 800px) {
  .score {
    font-size: 10vh;
    width: calc(67vw - 150px);
  }
  .make-a-choice,
  .slow {
    font-size: 3.5vw;
    letter-spacing: 0;
  }
  .left-hotkeys,
  .right-hotkeys {
    margin: calc(-55px + 13vw) 0;
  }
  .left-hotkeys div,
  .right-hotkeys div {
    margin: 0 calc(-55px + 13vw);
  }
}

@media only screen and (max-width: 800px) and (max-height: 600px) {
  #countdown * {
    -webkit-animation: single-row-countdown .5s forwards;
            animation: single-row-countdown .5s forwards;
    position: absolute;
  }
  #winner {
    position: absolute;
    top: 40px;
  }
}
/*# sourceMappingURL=App.css.map */