:root {
  --primaryColor: #f1d969;
}

@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url(./fonts/Bangers-Regular.ttf) format('truetype');
}

@keyframes countdown {
  from {
    transform: scale(0);
  }
}

@keyframes singleRowCountdown {
  from {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

@keyframes bouncingRight {
  0%, 50%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -70px) rotate(9deg);
  }
}

@keyframes bouncingLeft {
  0%, 50%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, -70px) rotate(-9deg);
  }
}

@keyframes slowRight {
  to {
    transform: translate(0px, 20px) rotate(-8deg);
  }
}

@keyframes slowLeft {
  to {
    transform: translate(0px, 20px) rotate(8deg);
  }
}

@keyframes fuse {
  0% {
    background-color: var(--primaryColor);
    width: 100%;
  }
  30% {
    background-color: var(--primaryColor);
  }
  100% {
    background-color: red;
    width: 0;
  }
}

body {
  margin: 0;
}

div {  
  font-family: 'Bangers', cursive !important;
  text-align: center;
}

.secondaryText {
  font-family: monospace;
  color: #cdffcd;
}

.background {
  background-color: #87a658;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding-top: 2vh
}

#countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown *,
#winner {
  font-size: 7vh;
  color: #12240a;
  animation: countdown 0.3s;
  padding: 0;
  margin: 0;
}

#winner {
 margin-top: 30px;
}

.playerContainer {
  position: relative;
  top: calc(55vh - 120px);
  display: flex; 
  justify-content: space-between;
  width: 67vw;
}

.leftPlayer,
.rightPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

.makeAChoiceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-top: 15px;
  height: 100px;
}

.makeAChoice {
  color: var(--primaryColor);
  font-size: 150%;
  letter-spacing: 0.1em;
}

.fuse {
  height: 5px;
  animation: fuse 2.25s ease-out;
  margin-top: -1vh;
}

.slow {
  color: crimson;
  font-size: 150%;
  letter-spacing: 0.05em;
}

.slowRight {
  animation: slowRight 0.35s 0.5s forwards;
}

.slowLeft {
  animation: slowLeft 0.35s 0.5s forwards;
}

.bouncingRight {
  animation: bouncingRight 0.75s 0.5s infinite;
}

.bouncingLeft {
  animation: bouncingLeft 0.75s 0.5s infinite;
}

.score {
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: space-between;
  width: 20vw;
  color: var(--primaryColor);
  font-size: 500%;
}

.startButton {
  font-size: 200%;
  padding: 15px;
  border: 2px solid #cc9c49;
  border-radius: 5px;
  background-color: var(--primaryColor);
  cursor: pointer;
  z-index: 1;
}

.hotkeysContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftHotkeys,
.rightHotkeys {
  margin: 50px 0;
}

.leftHotkeys div,
.rightHotkeys div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin: 0 50px;
}

.icon {
  width: 25px;
  height: 25px;
}

.key {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px inset var(--primaryColor);
  border-radius: 2px;
  color: var(--primaryColor);
  font-family: sans-serif;
}

@media only screen and (max-width: 800px) {
  .score {
    width: calc(67vw - 150px);
    font-size: 10vh;
  }

  .makeAChoice,
  .slow {
    font-size: 3.5vw;
    letter-spacing: 0;
  }

  .leftHotkeys,
  .rightHotkeys {
    margin: calc(-55px + 13vw) 0;
  }

  .leftHotkeys div,
  .rightHotkeys div {
    margin: 0 calc(-55px + 13vw);
  }
}

@media only screen and (max-height: 600px) and (max-width: 800px) {
  #countdown * {
    position: absolute;
    animation: singleRowCountdown 0.5s forwards;
  }

  #winner {
    position: absolute;
    top: 40px;
  }
}